body {
  text-align: left;
  background-color: beige;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Syne", sans-serif;
  border: 5px;
}
form {
  display: inline-block;
}
table {
  width: 80%;
}
.emplist {
  margin: 5px;
  padding: 10px;
  background-color: #7fa99b;
  border-radius: 10px;
  margin-top: 3%;
}

.content {
  width: 720px;
  margin: 0 auto 0 auto;
  text-align: center;
}
.login,
.empadd {
  background-image: url("");
  background-color: #7fa99b;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 15%;
  width: 50%;
}

.forpass {
  background-color: #7fa99b;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  width: 100%;
}

.logo {
  float: right;
  margin-right: 30px;
}

.td1 {
  border: 1px solid;
  border-radius: 2px;
  padding: 4px;
}

.button {
  cursor: pointer;
  color: rgb(105, 96, 96);
  font-size: 10px;
  text-transform: uppercase;
  width: 100px;
  border: 0;
  padding: 10px;
  margin-top: 18px;
  margin-left: 0px;
  border-radius: 5px;
}

.button:hover {
  background-color: darken(50%);
}
.address {
  border-radius: 5px;
  border: 0;
  margin-left: 13px;
  padding: 7px 119px;
  text-align: center;
}

.date {
  border-radius: 5px;
  border: 0;
  padding: 5.7px 41px;
  margin-left: 10px;
}

.mail,
.name,
.password,
.number {
  margin-left: 10px;
  border-radius: 5px;
  border: 0;
  padding: 7px 15px;
}
.signup {
  background-image: url("");
  background-color: #7fa99b;
  padding: 30px 10px 40px 40px;
  border-radius: 10px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 25%;
  width: 50%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  color: orange;
  font-size: 18px;
  background-color: #000015;
  border-radius: 5px;
}

.bemp {
  margin-left: 150px;
  margin-top: 20px;
  cursor: pointer;
  color: rgb(105, 96, 96);
  font-size: 10px;
  text-transform: uppercase;
  width: 100px;
  border: 0;
  padding: 10px;
}

.baritem {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  position: static;
  text-align: left;
  white-space: normal;
  color: blanchedalmond;
}
